{% extends "base.html" %}

{% block title %}
  Formulário de Cadastro
{% endblock %}

{% block content %}
  <body class="text-center">
    <div class="container">
      <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" style="width: 200px;">
      <h1 class="h3 mb-3 font-weigth-normal">
        Please, create you account
      </h1>
      <form method="post" class="form-register" style="color: whitesmoke;">
        {{form.hidden_tag()}}
        {{form.user.label()}}
        {{form.user(class="form-control", placeholder="Type the username")}}

        {{form.email.label()}}
        {{form.email(class="form-control", placeholder="Type the email")}}

        {{form.password1.label()}}
        {{form.password1(class="form-control", placeholder="Type the password")}}

        {{form.password2.label()}}
        {{form.password2(class="form-control", placeholder="Confirm the password")}}
        <br>
        <div class="d-grid">
          {{form.submit(class="btn btn-lg btn-primary btn-block", value="Create Account")}}
        </div>
      </form>
    </div>
  </body>
{% endblock %}
